# Allow all files in _next to be served
Satisfy any
Allow from all

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType font/woff2 .woff2
  AddType application/json .json
</IfModule>
